body{
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 800px;
    max-width: 1920px;
}

.developer-image {
    max-width: 136px;
    max-height: 774px;
    margin: 38px 60px 25px 23px;
    

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h1 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

nav li{
    list-style: none;
}
nav a{
    color: #474747;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding-right: 50px;
}

.color-primary {
    color: #FD6E0A;
    ;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
}

.hero {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    position: relative;

}

.hero-content {
    max-width: 800px;
    margin-top: 150px;
}

.hero-content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.hero-content h1 {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

.hero-content p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.profile-picture {
    position: static;
    bottom: 0px;
    right: 0px;
    margin: 20px 0px 0px 20px;
}

.contact-btn {
    padding: 18px 24px;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* main tag styles */
main{
    max-width: 1920px;
}

/* about styles here */

.about {
    background-color: #FFF8F3;
    max-width: 1140px;
    max-height: 550px;
    margin: 130px auto;
    padding: 150px;
    text-align: center;
    border-radius: 10px;
}

.about>h1 {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.about>p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.details {
    display: flex;
    justify-content: space-around;
}

/* what i do styles */

.what-i-do {
    max-width: 1140px;
    text-align: center;
    margin: 80px auto;
}

.what-i-do .all-skills {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.what-i-do .skills {
    width: 267px;
    height: 377px;
    padding: 33px;
    margin-right: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.what-i-do .skills h3 {
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.what-i-do .skills p {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
/* resume styles */
.my-resume{
    text-align: center;
    margin: 80px auto;
}
.my-resume .resume-details-conteiner{
    display: flex;
    gap: 40px;
    padding: 20px;
    text-align: left;
}
/* footer style */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 120px;
}
footer input{
    display: block;
    width: 400px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
footer .btn{
    width: 120px;
    text-align: center;
    color: #FFF;
    background-color: #FD6E0A;
}
footer textarea{
    width: 400px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}